{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sắp xếp câu</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <style>

    </style>
    <style type=”text/css”>
      .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border : 10px solid green;
      } 
    
    .pictures, .words {
        margin: 10px;
    }
    
    .draggable {
        cursor: grab;
        user-drag: none;
        -webkit-user-drag: none;
        touch-action: none;
    }
    </style>
</head>
<body>

    <div class="container">

        <div class="container" id="container">
          <!-- Thành phần sẽ được thêm vào đây bằng JavaScript -->
      </div>
      
      
      </div>
      <div id="score">Điểm: <span id="score-value">0</span></div>
          <script >
                // Dữ liệu về các button và hình ảnh
                const vocas = []
                {% for voca in vocas %}
                var newvoca = { name: '{{voca.name}}', image: { url: '{{voca.image.url}}' } }  ;
                vocas.push(newvoca);
                {% endfor %}
      
                function randomSort(a, b) {
                  return Math.random() - 0.5;
                }          
                vocas.sort(randomSort);
          </script>

          <script src="{%static 'web/js/drag.js' %}" rel="script/text"></script>      
</body>
</html>