{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sắp xếp câu</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
            <style>

            </style>
</head>
<body>
    <div class="container">
        <H5>ORDER WORD</h5>
        <div class="container" id="container">
          <!-- Thành phần sẽ được thêm vào đây bằng JavaScript -->         
        </div>
        <div id="score">Điểm: <span id="score-value">0</span></div>
    </div>

    <script >
        // Dữ liệu về các button và hình ảnh
        const vocas = []
        {% for voca in vocas %}
        var newvoca = { name: '{{voca.name}}', image: { url: '{{voca.image.url}}' } }  ;
        vocas.push(newvoca);
        {% endfor %}

        function randomSort(a, b) {
          return Math.random() - 0.5;
        }          
        vocas.sort(randomSort);
  </script>

<script>
    const container = document.getElementById('container');
    const scoreDisplay = document.getElementById('score-value');     
    let score = 0;//alert('scoreDisplay : '+score);

    const pictureDivs = document.createElement('div');
    pictureDivs.className += ' d-flex justify-content-end';
    const wordDivs = document.createElement('div'); 
    wordDivs.className += ' d-flex justify-content-end';

    let i=0;
    // Tạo các thành phần cho trò chơi
        const pictureDiv = document.createElement('div');
        pictureDiv.classList.add('pictures');
        pictureDiv.name = vocas[i].name; alert(vocas[i].name);console.log(vocas[i].name)
        pictureDiv.className +=' p-2 flex-fill align-self-center card';
        // Tạo border
        pictureDiv.style.border = '1px solid black'; // Chọn màu và độ rộng phù hợp
        //pictureDiv.style.border_radius = '2px'
                // Thiết lập chiều rộng và chiều cao
        pictureDiv.style.width = '100px'; // Thay đổi giá trị để đáp ứng chiều rộng mong muốn
        pictureDiv.style.height = '50px'; // Thay đổi giá trị để đáp ứng chiều cao mong muốn
        pictureDiv.innerHTML = `<img src="${vocas[i].image.url}" class="img-fluid shadow-2-strong" alt="${vocas[i].name}" />`;
    
        const wordDiv = document.createElement('div');
        wordDiv.classList.add('words');
        wordDiv.className +=' p-2 flex-fill align-self-center text-center card';
        wordDiv.textContent = vocas[i].name;
        wordDiv.id = vocas[i].name;
        wordDiv.setAttribute('draggable', true);
                // Tạo border
        wordDiv.style.border = '1px solid black'; // Chọn màu và độ rộng phù hợp
        //wordDiv.style.border_radius = '2px'
                // Thiết lập chiều rộng và chiều cao
        wordDiv.style.width = '100px'; // Thay đổi giá trị để đáp ứng chiều rộng mong muốn
        wordDiv.style.height = '50px'; // Thay đổi giá trị để đáp ứng chiều cao mong muốn
    
        // Xử lý sự kiện kéo và thả
        wordDiv.addEventListener('dragstart', (e) => {
            e.dataTransfer.setData('text/plain', vocas[i].name);//alert(pictureDiv.name);
        });
    
        pictureDivs.appendChild(pictureDiv);
        wordDivs.appendChild(wordDiv);
        
    });
    const childrenArray = Array.from(wordDivs.children);
    
    // --------------------------------------------Function to shuffle an array using the Fisher-Yates algorithm
    function shuffleArray(array) {
      for (let i = array.length - 1; i > 0; i--) {
        const j = Math.floor(Math.random() * (i + 1));
        [array[i], array[j]] = [array[j], array[i]];
      }
    }
    // Shuffle the children
    shuffleArray(childrenArray);
    // Clear the current children from wordDiv
    while (wordDivs.firstChild) {
      wordDivs.removeChild(wordDivs.firstChild);
    }
    // Append the shuffled children back to wordDiv
    for (const child of childrenArray) {
      wordDivs.appendChild(child);
    }//-------------------------------------------------------------------------------------------------------------
    
    container.appendChild(pictureDivs);container.appendChild(wordDivs); //alert('typeof wordDivs');
</script>
<script src="{%static 'web/js/rearrange.js' %}" rel="script/text"></script>
</body>
</html>