{% extends 'base.html' %}
{% load static %}
{% block drag %}

    <div class="container">
      <div class="container box-element" id="container">
          <!-- Thành phần sẽ được thêm vào đây bằng JavaScript -->
      </div>     
    </div>
    <div id="score">Điểm: <span id="score-value">0</span></div>
          <script >
                // Dữ liệu về các button và hình ảnh
                const vocas = []
                {% for voca in vocas %}
                var newvoca = { name: '{{voca.name}}', image: { url: '{{voca.image.url}}' } }  ;
                console.log({{voca.name}});
                vocas.push(newvoca);
                {% endfor %}
      
                function randomSort(a, b) {
                  return Math.random() - 0.5;
                }          
                vocas.sort(randomSort);
                console.log(vocas.length);
          </script>     
          <script src="{%static 'web/js/drag1.js' %}" rel="script/text"></script>  
{% endblock drag %}