{% extends 'base.html' %}
{% load static %}
{% block reorder %}
    <div class="container">
      <div class="container" id="container">
        <div id="maincontent">
            <li>thực hiện việc thay thế qbq (q eq1-b q) bằng một input </li>
            <li>thực hiện việc thay thế qaq (q eq2-a q) bằng một input </li>
            {% for voca in vocas %}
              <li>{{voca.example}}</li>
            {% endfor %}
        </div>
        <div>
          <!-- Thành phần sẽ được thêm vào đây bằng JavaScript -->
          {{x}}
        </div>     
      </div>
      <div id="score">Điểm: <span id="score-value">0</span></div>
    </div>
    
    <script>
        const container = document.getElementById('container');
        const scoreDisplay = document.getElementById('score-value'); 

        let score = 0;//alert('scoreDisplay : '+score);
        const wordDivs = document.createElement('div'); 
        wordDivs.className += ' d-flex justify-content-end';

        // Lấy thẻ input và div chứa chuỗi cần thay thế
        var maincontent = document.getElementById("maincontent");
        myPattern = /\(q\s?(.*\w{1,})\s?q\)/g;

        //var content = maincontent.innerHTML.replace(myPattern, '<input type="text" class="inputBox">');
        //var collection = maincontent.innerHTML.match(myPattern);
        //maincontent.innerHTML = content;

        maincontent.innerHTML = maincontent.innerHTML.replace(myPattern,function (match, p1) {
          // match là kết quả của tìm kiếm, p1 là các nhóm bên trong mẫu
          return "<input type='text' class='inputBox' name="+p1+">"; // Đảo ngày và tháng
        });
        
        console.log(maincontent.innerHTML);
        var collection = maincontent.innerHTML;

        var inputBox = document.getElementsByClassName("inputBox");console.log(": www : " + typeof inputBox);

        for(let i = 0;i<  inputBox.length;i++){
            console.log(i + ": www " +inputBox[i] + ';'+collection[i].slice(2,collection.length-4).split('-')[1]);
        
            // Lắng nghe sự kiện khi người dùng nhập giá trị vào input
            inputBox[i].addEventListener("blur", function() {
                var inputValue = inputBox[i].value;
                // Kiểm tra nếu giá trị nhập vào là "eq1-b" thì hiển thị thông báo
                if (inputValue.trim() == collection[i].slice(2,collection.length-4).split('-')[1].trim()) {
                    console.log("Chúc mừng bạn đã trả lời đúng : " 
                    + collection[i].slice(2,collection.length-4).split('-')[1]+';'+inputValue);
                    score++;
                    scoreDisplay.textContent = score;
                }
                else{
                    console.log('fail : '+ collection[i].slice(2,collection.length-4).split('-')[1]+';'+inputValue);
                }
            });

            //tạo ra các element để kéo thả vào textbox, được tự động tạo ra--------------------------------------
            const ansDiv = document.createElement('div');
            ansDiv.classList.add('words');
            ansDiv.className +=' p-2 flex-fill align-self-center text-center card';
            ansDiv.textContent = collection[i].slice(2,collection.length-4).split('-')[1];
            ansDiv.id = collection[i].slice(2,collection.length-4).split('-')[1];
            ansDiv.setAttribute('draggable', true);

            // Xử lý sự kiện kéo và thả
            ansDiv.addEventListener('dragstart', (e) => {
                e.dataTransfer.setData('text/plain', collection[i].slice(2,collection.length-4).split('-')[1]);
            });

            wordDivs.appendChild(ansDiv);
        }

        const childrenArray = Array.from(wordDivs.children);

        // --------------------------------------------Function to shuffle an array using the Fisher-Yates algorithm
        function shuffleArray(array) {
          for (let i = array.length - 1; i > 0; i--) {
            const j = Math.floor(Math.random() * (i + 1));
            [array[i], array[j]] = [array[j], array[i]];
          }
        }
        // Shuffle the children
        shuffleArray(childrenArray);
        // Clear the current children from wordDiv
        while (wordDivs.firstChild) {
          wordDivs.removeChild(wordDivs.firstChild);
        }
        // Append the shuffled children back to wordDiv
        for (const child of childrenArray) {
          wordDivs.appendChild(child);
        }//-------------------------------------------------------------------------------------------------------------
        

        container.appendChild(wordDivs); //tạo hoàn chỉnh các element để trả lời vào textbox---------------------------
        
        container.addEventListener('dragover', (e) => {
            e.preventDefault();
        });

        container.addEventListener('drop', (e) => {
            e.preventDefault();
            const word = e.dataTransfer.getData('text/plain');
            const txtbox = e.target.closest('.inputBox');
            txtbox.value = word;
            
            // Tạo một sự kiện "blur" tới phần tử
            var blurEvent = new Event("blur");
            // Gọi sự kiện "blur" cho phần tử
            txtbox.dispatchEvent(blurEvent);
        });
        //console.log('indexHome : '+index)
    </script>
{% endblock reorder %}