{% extends "base.html" %}
{% load static %}
{% block slide %}
    <h1>Hello world</h1>
    
    <div class="card box-element row" style="width: 28rem;">
        <img id="sky" name="sky_3" class="card-img-top col-md-8" style="width:300px;height:280px;float:left" src="{{first_voca.image.url}}" alt="not_found">
        <div class="card-body col-md-4" >
          <input type="button" id="previousBtn" name="previousBtn" value="previousBtn" style="margin:20px 0 20px;width:100px;height:25px">
          <input type="button" id="nextBtn" name="nextBtn" value="nextBtn" style="margin:20px 0 20px;width:100px;height:25px">
          <input type="button" id="stopBtn" name="stopBtn" value="stopBtn" style="margin:20px 0 20px;width:100px;height:25px">
          <h5>Slide word</h5>
          <p id="textAreaSpeak" class="card-text" rows="4" cols="50">{{first_voca.name}}</p>
        </div>
      </div>
      <div style="clear:both"></div>
{% endblock slide %}